<p>Dear QRTEParser user,<p>

<p>Thank you for using the QRTEngine. We are pleased to report that the parsing of your file {{ filename }} has successfully finished.</p>

<p>You can download your parsed data file at the link below:</p>

<p><a href="{{ download_url }}">{{ download_url }}</a></p>

<p>Please note, will delete any and all references to the data files you have uploaded to our servers 24 hours after your first download of the parsed file,
or 72 hours after the file has been parsed, whichever comes first.</p>

<p>We also recommend checking out the log file, to make sur eno actual faults have gone unnoticed. The log can be found here:</p>

<p><a href="{{ log_url }}">{{ log_url }}</a></p>

<p>Thanks again for using our QRTEngine. We wish you the best of luck with your further research endeavours!</p>

<p>Best regards,</p>

<p>The QRTEngine Team</p>

<p>P.S.: Should you find any problems with the file you've been sent, please let us know at <a href="mailto:{{ report_email }}">{{ report_email }}</a> (or reply to this email).
We would also love to hear feedback in general about the QRTEParser service.</p>