<!DOCTYPE html>
<html lang=en>
<head>
    <title>Online QRTE parser</title>
    <style>
        body {
            background: white;
            font-family: verdana;
        }

        section {
            width: 700px;
            background: #f9f9f9;
            color: black;
            border-radius: 1em;
            padding: 1em;
            position: absolute;
            top: 50%;
            left: 50%;
            margin-right: -50%;
            transform: translate(-50%, -50%);
        }
    </style>
</head>
<body>
<section>
    <h1>Could not find file</h1>

    <p>Sorry.</p>
</section>
</body>
</html>
