<!DOCTYPE html>
<html lang=en>
<head>
    <title>Online QRTE parser</title>
    <style>
        body {
            background: white;
            font-family: verdana;
        }

        section {
            width: 700px;
            background: #f9f9f9;
            color: black;
            border-radius: 1em;
            padding: 1em;
            position: absolute;
            top: 50%;
            left: 50%;
            margin-right: -50%;
            transform: translate(-50%, -50%);
        }
    </style>
</head>
<body>
<section>
    <h1>Welcome back to the online QRTE parser</h1>

    <p>Your data file has been parsed. To download it, please right-click and press 'Download as':</p>

    <p><a href="{{ download_file_url }}" target="_blank">Download parsed data file</a></p>

    <p>Note: The parsed file will <u>always</u> be deleted automatically 24 hours after we e-mailed the download link.
    </p>


</section>
</body>
</html>
