<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Minimal Django File Upload Example</title>
</head>
<body>
<p>Welcome to the QRTEParser Webservice.</p>

<p>This webservice is a running version of the github project that can be found here: </p>

<p>Please upload your file, we will e-mail you as soon as it's finished.</p>
<!-- Upload form. Note enctype attribute! -->
<form action="{% url 'list' %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {% for field in form %}
    <div class="fieldWrapper">
        {{ field.errors }}
        {{ field.label_tag }} {{ field }}
    </div>
    {% endfor %}
    <p><input type="submit" value="Upload"/></p>
</form>
</body>
</html> 